:root {
  --primary-color: blue;
  --background-color: rgb(2, 100, 2);
}

body {
  margin: 0;
  background-color: var(--background-color);
}
.navbarContainer {
  background-color: red;
  width: 100vw;
  height: 100px;
  box-sizing: border-box;
  padding: 16px;
  justify-content: center;
  align-items: center;
  display: flex;
}

.contentContainer {
  width: 100%;
  box-sizing: border-box;
  padding: 16px;
  background-color: violet;

  text-align: center;
}

.footerContainer {
  display: flex;
  width: 100%;
  box-sizing: border-box;
  padding: 16px;
  min-height: 200px;
  background-color: bisque;
  justify-content: center;
}

.navArea {
  display: flex;
  height: 100%;
  flex: 1;
  align-items: center;
}
.navAreaOne {
  background-color: aquamarine;
}

.cssMeme {
  height: 50vh;
}

.logImg {
  width: 40px;
  height: 40px;
  border-radius: 20px;
}

.navAreaTwo {
  background-color: yellow;
  justify-content: center;
}

.navAreaThree {
  background-color: blueviolet;
}

.itemList {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  background-color: black;
  justify-content: center;
}

.shopItem {
  width: 200px;
  padding: 8px;
  background-color: brown;
  margin: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 8px;
}

.shopItemImg {
  width: 150px;

  object-fit: cover;
}

.shopItemText {
  margin-top: 16px;
}

.advertisementContainer {
  width: 100%;
  margin-top: 32px;
  background-color: aquamarine;
  min-height: 200px;
}
