body {
    margin: 0;
}

.navContainer {
    width: 100vw;
    height: 70px;
    box-sizing: border-box;
    align-items: center;
    display: flex
}

.navArea {
    flex: 1;
    height: 100%;
    align-items: center;
    display: flex
}

.navAreaOne {
    background-color: purple;
}
  
.navAreaTwo {
    background-color:crimson;
    justify-content: center;
}

.navAreaThree {
    background-color: darkolivegreen;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

a {
    text-decoration: none;
}
    
.about {
    color: wheat;
    font-size: 15px;
    margin: 20px;
    &:hover {
        background-color: darkgoldenrod;
        font-size: 20px;
    }
}

.logo {
    height: 30px;
    aspect-ratio: 1;
    border-radius: 15px;
    background-color:darkgoldenrod;
    color: wheat;
    font-size: 20px;
    margin: 20px;
    justify-content: center;
    align-items: center;
    display: flex
}

.logotitle {
    color:wheat;
    font-size: 30px;
}

.contentContainer {
    width: 100vw;
    background-color: wheat;
    box-sizing: border-box;
    align-items: center;
    padding: 20px;
}

.listContainer {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.itemContainer {
    width: 140px;
    background-color: crimson;
    padding: 20px;
    margin: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 15px;
    transform: scale(1);
    &:hover {
        transform: scale(1.1);
    }
}

.itemPhoto {
    width: 140px;
    object-fit: cover;
    transform: scale(1);
    &:hover {
        transform: scale(1.1);
    }  
}

img {    
    transition: transform 0.2s;
}
  
.itemName {
    margin-top: 10px;
    color: wheat;
    font-size: 15px;
    &:hover {
        font-size: larger;
        transition: font-size 0.2s ease-in-out;
        background-color: darkolivegreen;
        transition: background-color 0.2s ease-in-out;
    }
}

.advertisementContainer {
    width: 100%;
    height: 140px;
    background-color: darkgoldenrod;
    margin-top: 70px;
    box-sizing: border-box;
    align-items: center;
    display: flex
}

.footerContainer {
    width: 100vw;
    height: 70px;
    box-sizing: border-box;
    align-items: center;
    display: flex
}

.footerArea {
    flex: 1;
    height: 100%;
    align-items: center;
}

.footerAreaOne {
    background-color: darkolivegreen;
}
  
.footerAreaTwo {
    background-color: purple;
}

h2 {
    color:wheat;
    background-color: crimson;
    font-size: 30pt;
}

marquee {
    border: 0px; background: transparent none; font-size: auto; font-family: auto direction="right" scrolldelay="0" scrollamount="5"
}