:root {
    --primary-color: wheat;
    --secondary-color: crimson;
}

body {
    background-color: var(--primary-color);
    color: var(--secondary-color)
}

.classP {
    color: darkolivegreen;
}

p.classP {font-style: italic;}

#idForP {
    color: purple;
}
