body {
    margin: 0;
}

.navbar {
    background-color:darkolivegreen;
    width: 100vw;
    height: 70px;
    box-sizing: border-box;
    padding: 16px;
    justify-content: center;
    align-items: center;
    display: flex
}

.logotitle {
    color: purple;
    font-size: 20;
    background-color: white;
    border-radius: 5px;
    padding: 4px 8px
}

.logo {
    height: 30px;
    aspect-ratio: 1;
    border-radius: 15px;
    background-color:darkorange;
    font-size: 20;
    margin-left: 8px;
    justify-content: center;
    align-items: center;
    display: flex
}

