body {
    margin: 0;
}

.navContainer {
    width: 100vw;
    height: 70px;
    box-sizing: border-box;
    align-items: center;
    display: flex;
}

.navArea {
    flex: 1;
    height: 100%;
    align-items: center;
    display: flex;
}

.navAreaOne {
    background-color: purple;
}
  
.navAreaTwo {
    background-color:crimson;
    justify-content: center;
}

.navAreaThree {
    background-color: darkolivegreen;
}

.logo {
    height: 30px;
    aspect-ratio: 1;
    border-radius: 15px;
    background-color:darkgoldenrod;
    color: wheat;
    font-size: 20px;
    margin: 20px;
    justify-content: center;
    align-items: center;
    display: flex;
}

.logotitle {
    color:wheat;
    font-size: 30px;
}

.navButton{
    text-decoration: none;
    color: darkolivegreen;
    font-size: 15px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 20px;
    &:hover {
        background-color: crimson;
        font-size: 20px;
    }
}

.contentContainer {
    width: 100vw;
    background-color: wheat;
    box-sizing: border-box;
    padding: 20px;
}

.listContainer {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.itemContainer {
    width: 140px;
    background-color: crimson;
    padding: 20px;
    margin: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 15px;
}

.itemPhoto {
    width: 140px;
    object-fit: cover;
}
  
.itemName {
    margin-top: 10px;
    color: wheat;
    font-size: 15px;
}

.advertisementContainer {
    width: 100%;
    height: 140px;
    background-color: darkgoldenrod;
    margin-top: 70px;
    
}

.footerContainer {
    width: 100vw;
    height: 70px;
    box-sizing: border-box;
    display: flex;
}

.footerArea {
    flex: 1;
    height: 100%;
}

.footerAreaOne {
    background-color: purple;
}
  
.footerAreaTwo {
    background-color: darkolivegreen;
}